i{
color: #696969;
}

img{
border-radius: 30px;
width: 300px;
height : 200 px;
padding: 10px;
display: block;
float:left;
}
h1{
color: #000000 ;
opacity:0.8;
}
p{
text-align: center-left;
font-size: 25px;
float: right;

}
body{
margin-top:250px;
margin-left: 150px;
margin-bottom: 250px;

}

#details{
	display: block;
	float: left;
        margin-bottom: 10%;
}
